# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual envs
.venv/
venv/
env/

# Airflow
logs/
airflow.db
airflow.cfg
unittests.cfg

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
*.pid

# Secrets (si un jour tu les ajoutes)
.env
*.env.local
